[Unit]
Description=Prometheus node exporter service
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter-{{ node_exporter_version }}.{{ ansible_system | lower }}-amd64/node_exporter

[Install]
WantedBy=multi-user.target